*{
    margin: 0; /*deixa margem esquerda e direita nula*/    
    padding: 0; /*deixa a margem superior e inferior nula*/ 
    box-sizing: border-box; /* cria uma caixa invisivel para o corpo do site*/

}   .topo{
    background-color: rgb(8, 255, 255);/*cor do fundo do site*/   
    height: 15vh; /*tamanho do topo do site 15% da tela */
}


.conteudo{
    background-color: rgb(161, 5, 5);
height: 100vh;
}